<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL and Page Limit Form</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        /* Add padding to the progress bar */
        .progress {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        /* Add padding to the progress bar */
        .progress-bar {
            padding: 0.5rem;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Парсер Авито</h2>
    <form id="urlForm" method="POST" action="/pages/base" onsubmit=submitForm()>
        <div class="form-group">
            <label for="urlInput">URL</label>
            <div class="input-group">
                <input type="url" class="form-control" id="urlInput" name="url" placeholder="Введите url" required>
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" onclick="pasteFromClipboard()">Вставить из буфера
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="pageLimitInput">Лимит страниц</label>
            <input type="number" class="form-control" id="pageLimitInput" name="pageLimit"
                   placeholder="Введите макс. кол-во страниц для парсинга" required value="80">
        </div>
        <button type="button" class="btn btn-primary" onclick="submitForm()">Начать</button>
        <div class="progress" style="height: 30px;">
            <div id="progressBar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>

    </form>
</div>

<script>
    function pasteFromClipboard() {
        navigator.clipboard.readText().then(
            clipText => document.getElementById("urlInput").value = clipText);
    }

    const BASE_URL = ""
    let message = document.createElement('p');
    document.querySelector('.container').appendChild(message);
    let totalAds = document.createElement('p');
    totalAds.textContent = `Предварительное общее число обьявлений: ${0}`;
    document.querySelector('.container').appendChild(totalAds);
    let parsedAds = document.createElement('p');
    parsedAds.textContent = `Обработано: ${0}`;
    document.querySelector('.container').appendChild(parsedAds);
    async function checkResult() {
        while (true) {
            const r = await fetch(BASE_URL + "/result");

            if (r.headers.get('X-Result') === 'false') {
                const parsed = parseInt(r.headers.get('parsed'));

                // Update the progress bar and display the number of parsed ads
                const progress = parsed / parseInt(r.headers.get('total')) * 100;
                document.getElementById("progressBar").style.width = `${progress}%`;
                document.getElementById("progressBar").setAttribute("aria-valuenow", progress);

                parsedAds.textContent = `Обработано: ${parsed}`;
                await new Promise(resolve => setTimeout(resolve, 3000));
            } else {
                document.getElementById("progressBar").style.width = `100%`;
                document.getElementById("progressBar").setAttribute("aria-valuenow", 100);
                const parsed = parseInt(r.headers.get('parsed'));
                parsedAds.textContent = `Загружено: ${parsed}`;
                message.textContent = "Парсинг завершен!"

                const blob = await r.blob();
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'file.xlsx';
                a.click();
                isSubmitting = false; // Reset form submission state
                return
            }
        }
    }
    let isSubmitting = false;
    async function submitForm() {
        if (isSubmitting) {
            return; // If form is already being submitted, prevent further submissions
        }
        isSubmitting = true;
        const url = document.getElementById('urlInput').value;
        const pageLimit = document.getElementById('pageLimitInput').value;

        if (url && pageLimit) {
            message.textContent = 'Парсинг начался, пожалуйста, не начинайте новый, пока процесс не завершится...';
            document.getElementById("progressBar").style.width = `0%`;
            document.getElementById("progressBar").setAttribute("aria-valuenow", 0);
            const data = {
                url: url,
                pageLimit: parseInt(pageLimit)
            };

            try {
                totalAds.textContent = 'Предварительное общее число обьявлений: Вычисляется...';
                parsedAds.textContent = `Обработано: ${0}`;
                const response = fetch('/parse', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
                await new Promise(resolve => setTimeout(resolve, 5000));

                const r = await fetch(BASE_URL + "/result");
                const total = parseInt(r.headers.get('total'));

                // Display the total number of ads

                totalAds.textContent = `Предварительное общее число обьявлений: ${total}`;
                parsedAds.textContent = `Обработано: ${0}`;

                await checkResult();


            } catch (error) {
                console.error('Error sending request:', error);
            }
        } else {
            alert('Please fill out all fields.');
        }
    }

</script>
</body>
</html>